<header>
    <div class="container">
      <div class="flex">
        <h1><%= title %></h1>
        <div>
          <a href="/users/register">Register</a>
          <a href="/users/login">LogIn</a>
        </div>
      </div>
    </div>
  </header>
  <h2 class="align">Oauth using Passport</h2>